#container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

body {
	color:#cccccc;
	background:#1d1d1d;
	margin:30px 30px 0px 30px;
	padding:0px;
	font-size:.8em;
	font-family:Arial,Helvetica,sans-serif;
}
a {
	color:#aaaaaa;
	text-decoration: none;
}
a:focus {
	outline-style:none;
}

.clear {
	clear: both;
}

div#page, div#header, div#footer {
	margin: auto;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.50);
}

div#page {
	background: #252525;
	width: 90%;
	height: 40em;
	border-radius: 10px;
}
div#header {
	background: rgba(65, 65, 65, 0.85);
	width: 35em;
	margin-bottom: 24px;
	border-radius: 10px;
}

#ravencoin-main {
	height: 10em;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

text.highcharts-title {
	// text-decoration: underline;
}

div#footer {
	background: rgba(25, 25, 25, 0.85);
	height: 0px;
	margin-bottom: 40px;
	text-align: center;
	color: #666666;
	text-shadow: rgba(0, 0, 0, 0.8) 0px 1px 0px;
}
#header h1 {
	padding: 12px;
	font-size: 20px;
	text-align: center;
}

#footer p:first-child {
	margin: 12px 24px;
	padding-top: 1.5em;
}

svg.highcharts-root {
	border-radius: 10px;
}

text.highcharts-credits {
	visibility: hidden;
}

table.stats {
	width: 280px;
	margin: 4px 16px;
	display: inline-block;
	vertical-align: top;
}

th.machine {
	color: darkcyan;
	padding: 16px 0px 0px 0px;
	text-align: left;
	border-bottom: 1px solid gray;
}

th.gpu {
	color: white;
	padding: 3px 3px;
	font: bolder;
	text-align: left;
	background: rgba(65, 65, 65, 0.85);
}

td.key {
	width: 99px;
	max-width: 180px;
}

td.val {
	width: 40px;
	max-width: 100px;
	color: white;
}

div.totals {
	margin: 16px;
	padding-bottom: 16px;
}

div.totals h2 {
	color: darkcyan;
	font-size: 16px;
	margin-bottom: 4px;
}

div.totals li {
	list-style-type: none;
	font-size: 16px;
	margin-left: 4px;
	margin-bottom: 8px;
}
li span.algo {
	display: inline-block;
	width: 100px;
	max-width: 180px;
}

span.bold {
	color: #bb99aa;
}
span.elipsis {
	display: inline-block;
	max-width: 130px;
	overflow: hidden;
}